/* Custom color scheme */
body {
  background-color: #f0f4f8; /* Light grey background for the whole page */
  color: #333; /* Dark grey text for better readability */
}

h1 {
  color: #f44034; /* Primary blue color for the main heading */
}

h2 {
  /* make color dark blue */
  color: #0056b3;
}

h4 {
  color: #6c757d; /* Dark grey color for subheadings */

}

.table {
  background-color: #ffffff; /* White background for the table */
  border: 1px solid #dee2e6; /* Light grey border for the table */
}

.table thead {
  background-color: #007bff; /* Primary blue color for the table header */
  color: #ffffff; /* White text color for the table header */
}

.table tbody tr:hover {
  background-color: #f1f1f1; /* Light grey background on hover for table rows */
}

.status-indicator {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.connected {
  background-color: green;
}

.disconnected {
  background-color: red;
}

/* Centering table headers and data */
.table th,
.table td {
  text-align: center; /* Center the text in table headers and data cells */
  vertical-align: middle; /* Center vertically as well */
}

.chart-container {
  position: relative;
  height: 70vh;
  width: 70vw;
  margin: 0 auto;
}
